input[role="labelInput"], textarea[role="labelInput"] {
  height: auto;
}

input[role="labelInput"].outline,textarea[role="labelInput"].outline  {
  box-shadow: 0 0 0 1px inset var(--accent-md);
}

input[role="labelInput"]:focus.outline, textarea:focus  {
  box-shadow: 0 0 0 2px inset var(--accent) !important;
}

input[role="labelInput"]:disabled,textarea[role="labelInput"]:disabled {
  box-shadow: none !important;
  background-color: var(--accent-md) !important;
  cursor: not-allowed;
}

/* textarea[role="labelInput"] {
  height: auto !important;
  padding: 5px 0;
}

textarea[role="labelInput"]:focus {
  box-shadow: none !important;
  background-color: var(--accent-sm);
}

textarea[role="labelInput"]:focus.outline {
  box-shadow: 0 0 0 2px inset var(--accent) !important;
}

textarea[role="labelInput"]:disabled {
  box-shadow: none !important;
  background-color: var(--accent-md);
  cursor: not-allowed;
} */

.labelInput {
  background: var(--accent-sm);
  border-radius: var(--border);
  transition: 0.25s;

  cursor: text;
}

.labelInput[role="disabled"] {
  background: var(--accent-md);
  transition: 0.25s;

  cursor: not-allowed;
}

.labelInputSelected {
  background: var(--accent-md);
}
