:root {
  font-family: "Onest", sans-serif;
  font-weight: light;
  line-height: 1;

  background-repeat: no-repeat;

  color-scheme: light;
  --txt: #191919;
  --bkg: #e2e1d8;
  --accent-sm: #d8d7ce;
  --accent-md: #b7b6ae;
  --accent-lg: #92918b;
  --accent: #436940;
  --secondaryColor: #de976f;
  --thirdColor: #94bc91;
  --primaryGradient: linear-gradient(
    to left,
    var(--accent),
    var(--accent-md)
  );
  --warningColor: #faae88;
  --safeColor: #c8fa88;
  --dangerColor: #ed7373;

  --nav-bar-spacing: 300px;
  --borderRadius: 5px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root [data-theme="light"] {
  --txt: #111111;
  --bkg: #eeeeee;
  --accent-sm: #aaaaaa;
  --accent-md: #666666;
  --accent-lg: #cccccc;

  background-color: #eeeeee;
  color: var(--txt);
}

:root [data-theme="dark"] {
  --txt: #dddddd;
  --bkg: #111111;
  --accent-sm: #444444;
  --accent-md: #aaaaaa;
  --accent-lg: #181818;

  background-color: #111111;
  color: var(--txt);
}

@font-face {
  font-family: "Sifon";
  src: local("SIFONN_PRO"),
    url(/SIFONN_PRO.otf) format("opentype");
    font-display: swap;
    font-style: normal;
}

/* @font-face {
  font-family: "Placard";
  src: local("Placard-WideLight"), url(/PlacardNext-WideLight.otf) format("opentype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Placard";
  src: local("Placard-Wide"), url(/PlacardNext-Wide.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

body {
  background: linear-gradient(to right, #d6d1c9, #bdb7ae);
  margin: 0;
  padding: 0;
}

/** text */
p {
  font-family: "Onest", sans-serif;
  margin: 0px;
  font-size: 14pt;
  line-height: 1.5;
  font-weight: 400 !important;
  color: var(--txt);
}

h1 {
  font-family: "Onest", sans-serif;
  font-weight: 200;
  margin: 0;
  text-align: start;
  font-size: 60pt;
  line-height: 1.2;
  color: var(--accent);
}

h2 {
  font-family: "Onest", sans-serif;
  font-weight: 200;
  margin: 0;
  text-align: start;
  font-size: 40pt;
  line-height: 1.2;
  color: var(--accent);
}

h3 {
  font-family: "Onest",sans-serif;
  text-align: start;
  line-height: 1.5;
  font-size: 14pt;
  margin: 0;
  color: var(--txt);
}

h4 {
  font-family: 'Onest', sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  font-size: 30pt;
  line-height: 1.5;
  color: var(--accent);
}

h5 {
  font-family: "Onest", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15pt;
  font-weight: bold;
  line-height: 1.5;
  color: var(--bkg);
}

#logo-title-text {
  font-family: "Sifon", sans-serif;
  text-align: start;
  color: var(--txt);
  font-weight: 700;
  font-size: 60pt;
  line-height: 1;

  margin: 0;
}

ul {
    font-size: 14pt;

  padding: 20px;
  margin: 0;
}

li {
  font-size: 14pt;
  font-family: "Onest", sans-serif;
  text-align: start;
  margin-bottom: 10pt;
}

label {
  font-family: "Onest", sans-serif;
  text-align: start !important;
  justify-content: start;
  font-size: 10pt !important;
}

img {
  border-radius: var(--borderRadius);
  flex-shrink: 0;
}

a {
  font-size: 14pt;
}

/********* Basic elements ***********/
input {
  font-family: "Onest", sans-serif;
  color: var(--txt);
  font-size:  1rem;
  background: var(--bkg);
  height: 50px;
  height: 3em;

  border: 1px solid var(--accent-lg);
  border-radius: var(--borderRadius);

  text-indent: 10px;
  padding: 0;
  margin: 0;

  width: 100%;

  transition: 0.25s;
}

input:focus {
  outline: none;
  color: var(--txt);
  box-shadow: 0 0 0px 3px var(--accent) inset;

  background-color: var(--bkg);
  transition: 0.25s;
}

input:disabled {
  color: var(--txt);
  background-color: var(--accent-md);
}

textarea {
  font-family: "Onest", sans-serif;
  background-color: var(--bkg);

  resize: vertical;
  border: 1px solid var(--accent-lg);

  border-radius: var(--borderRadius);

  padding: 10px;
  margin: 0;

  height: 5em;
  width: 100%;

  transition: 0.2s;
}

textarea:focus {
  outline: none;
  color: var(--txt);
  box-shadow: 0 0 0px 3px var(--accent) inset;

  background-color: var(--bkg);
  transition: 0.25s;
}

.danger {
  box-shadow: 3px 3px 0px 1px var(--dangerColor);
}

input {
  font-family: "Onest", sans-serif;
  color: var(--txt);
  background: var(--bkg);
  height: 50px;
  height: 3em;

  border: 1px solid var(--accent-lg);
  border-radius: var(--borderRadius);

  text-indent: 10px;
  padding: 0;
  margin: 0;

  width: 100%;

  transition: 0.25s;
}

button {
  font-family: "Onest", sans-serif;
  font-weight: light;
  color: var(--txt);
  font-weight: 500;
  font-size: 14pt;
  text-wrap: "wrap";
  border-radius: var(--borderRadius);
  line-height: 1.2em;

  background-color: var(--primaryGradient);
  padding: 10px;
  margin: 0;

  cursor: pointer;

  border: none;
  transition: 0.5s;
}

button:hover {
  color: var(--accent);
  transition: 0.2s;
  transform: translateY(2px);
}

button:disabled {
  cursor: auto;
  opacity: 50%;
}

.accentButton {
  border-radius: var(--borderRadius);
  background: var(--accent);
  color: var(--bkg);
}

.accentButton * {
  color: var(--bkg);
}

.accentButton:hover {
  background-color: var(--accent-lg);
  color: var(--bkg) !important;
  transform: translateY(2px);
}

button:hover * {
  color: var(--accent);
  transition: 0.2s;
}

.accentButton:disabled {
  background: var(--bkg);
  color: var(--txt);
}

.dangerButton {
  background-color: var(--dangerColor);
  color: #111111;
}

.safeButton {
  background-color: var(--safeColor);
  color: #111111;
}

.warningButton {
  background-color: var(--warningColor);
  color: #111111;
}

.lightButton {
  color: var(--bkg);
  background-color: var(--accent-sm);
}

.lightButton:hover {
  color: var(--txt);
  background-color: var(--accent-lg);
}

select {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  background-color: var(--accent-lg);
  border-radius: 5px;
  padding: 5px;

  cursor: pointer;

  border-style: unset;

  transition: 0.2s;
}

select:hover {
  background-color: var(--accent-sm);
  transition: 0.2s;
}

select:focus-visible {
  border: 0px none;
}

select[data-chosen] {
  background-color: var(--accent-md);
}

option {
  font-weight: 400;
}

input[type="checkbox"] {
  display: flex;

  padding: 10px 10px;

  justify-self: unset;
  background-color: var(--bkg);
  appearance: none;

  border: 1px solid var(--accent-sm);

  cursor: pointer;

  transition: 0.2s;
}

input[type="checkbox"]:checked {
  background-color: var(--accent);
  transition: 0.2s;
}

input[role="combobox"] {
  box-shadow: none;
  transition: 0.2s;
}

input[type="checkbox"]:hover {
  opacity: 0.7;
  transition: 0.2s;
}

input[type="checkbox"]:disabled {
  cursor: default;
  opacity: 0.5;

  transition: 0.2s;
}

input[type="date"] {
  padding: 0;
  text-indent: 5px;
}

td {
  font-size: 10pt;
  padding: 5px 10px;
}

th {
  font-weight: bold;
  font-size: 10pt;
  padding: 5px 10px;
}

.basicIcon {
  display: flex;
  width: 10pt;
  height: 10pt;
  transition: 0.3s;
}

.headingIcon {
  width: 16pt !important;
  height: 16pt !important;
}

.buttonIcon {
  padding: 0.2em;
  border-radius: 6px;
  cursor: pointer;

  transition: 0.2s;
}

.buttonIcon:hover {
  color: var(--accent-sm);
  opacity: 50%;
  transform: translateY(2px);

  transition: 0.2s;
}

.overlayDiv {
  position: absolute; /* Positions the overlay relative to the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20; /* Ensures the overlay is on top */
  backdrop-filter: blur(3px);
}

.container {
  position: relative; /* Essential for positioning the overlay */
  width: auto;
  border-radius: var(--borderRadius);
  background-color: var(--accent-lg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  transition: 0.3s;
  height: 500px;
  aspect-ratio: 16 / 9;
  filter: contrast(100);
}

/************************************
************ Display ***********
*************************************/
.boxed {
  color: var(--txt);
  background: var(--accent-md);

  border-radius: var(--borderRadius);

  transition: 0.2s;
}

.vertical-line {
  top: 0;
  width: 1px;
  height: 100vh;
  position: fixed;
  background-color: var(--accent);
}

.horizontal-line {
  height: 1px;
  width: 100%;
  position: relative;
  background-color: var(--accent);
}


.animate:hover {
  transform: translateY(5px);
  transition: 0.2s;
}
/* Rotates any element with the .spin360 class */
.spin360 {
  animation: spin360 1s linear infinite;
}

@keyframes spin360 {
  100% {
    transform: rotate(360deg);
  }
}
.boxedAccent {
  color: #eeeeee !important;
  border-radius: var(--borderRadius);

  background: var(--accent);

  transition: 0.2s;
}

.boxedAccent * {
  color: #eeeeee;
}

.boxedAccent:hover {
  background-color: var(--accent) !important;
}

.boxedSecondary {
  border-radius: var(--borderRadius);
  padding: 10px;

  background: var(--secondaryColor);
  color: #111111 !important;

  transition: 0.2s;
}

.boxedSecondary:hover {
  background-color: var(--secondaryColor) !important;
}

.boxedDark {
  border-radius: var(--borderRadius);

  background: var(--accent-lg);
  color: var(--txt);

  transition: 0.2s;
}

.boxedLight {
  border-radius: var(--borderRadius);

  padding: 5px;

  background: var(--txt);
  color: var(--bkg);

  transition: 0.2s;
}

.outline {
  border-radius: var(--borderRadius);
  border: 2px solid var(--txt);
  transition: 0.2s;
}

.outline-accent {
   border-radius: var(--borderRadius);
  border: 1px solid var(--accent);
  transition: 0.2s;
}

.moveableMenuBackground {
  position: fixed;
  backdrop-filter: blur(1.5px);
  cursor: auto;

  overflow: hidden;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 15;

  background-color: #eeeeee44;
}

.fillScreen {
  position: fixed;
  cursor: auto;

  overflow: hidden;

  margin: 0;
  padding: 0;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 15;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;

  background: var(--bkg);
  backdrop-filter: 10px;

  border-radius: var(--borderRadius);
}

.divider {
  border-bottom: solid 1px var(--accent-md);
  transition: 0.2s;
}

.clickable {
  border-radius: var(--borderRadius);
  transition: 0.3s;
  cursor: pointer;
}

.clickable:hover {
  fill: var(--accent);
  color: var(--accent);
  opacity: 0.8;
  transition: 0.3s;
  transform: translateY(2px);
}

.highlight {
  background-color: var(--primaryGradient) !important;
  color: #222222 !important;
}

.light {
  background-color: var(--accent-md);
  color: var(--bkg);
}

.noBorder {
  border: 0;
}

.s1 {
  box-shadow: 0 0 10px 1px var(--accent-lg);
}

.s2 {
  box-shadow: 0 0 50px 1px var(--accent-lg);
}

.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}

/* -- animation -- */

.mediumFade {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.slowFade {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.mediumFadeOut {
  animation-name: fadeOut;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

/************************************
************ Size ***********
*************************************/
.w10 {
  width: 10%;
}
.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}
.w60 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}
.vh80 {
  height: 80vh;
}

.vh50 {
  height: 50vh;
}

.div10 {
  min-height: 10px !important;
  min-width: 10px !important;
  opacity: 0;
}

.div20 {
  height: 20px;
  width: 20px;
  opacity: 0;
}

/*****************************
Margin
*****************************/
.m0 {
  margin: 0;
}

.m1 {
  margin: 5px !important;
}

.m2 {
  margin: 10px !important;
}

.m3 {
  margin: 20px !important;
}

.mr1 {
  margin-right: 5px;
}

.ml1 {
  margin-left: 5px;
}

.mt1 {
  margin-top: 5px;
}

.mb1 {
  margin-bottom: 5px;
}

.ml2 {
  margin-left: 10px;
}

.mr2 {
  margin-right: 10px;
}

.mb2 {
  margin-bottom: 10px;
}

.mt2 {
  margin-top: 10px;
}

.ml3 {
  margin-left: 20px;
}

.mr3 {
  margin-right: 20px;
}

.mb3 {
  margin-bottom: 20px;
}

.mt3 {
  margin-top: 20px;
}

/*****************************
Padding
*****************************/
.p0 {
  padding: 0;
}

.p1 {
  padding: 5px;
}

.p2 {
  padding: 10px;
}

.p3 {
  padding: 20px;
}

.pr1 {
  padding-right: 5px;
}

.pl1 {
  padding-left: 5px;
}

.pt1 {
  padding-top: 5px;
}

.pb1 {
  padding-bottom: 5px;
}

.pl2 {
  padding-left: 10px;
}

.pr2 {
  padding-right: 10px;
}

.pb2 {
  padding-bottom: 10px;
}

.pt2 {
  padding-top: 10px;
}

.pv2 {
  padding: 10px 0;
}

.ph2 {
  padding: 0 10px;
}

.pl2 {
  padding-left: 10px;
}

.pr2 {
  padding-right: 10px;
}

.pr3 {
  padding-right: 20px;
}

.pl3 {
  padding-left: 20px;
}

.pt3 {
  padding-top: 20px;
}

.pb3 {
  padding-bottom: 20px;
}

.r0 {
  border-radius: 0 !important;
}

.r1 {
  border-radius: var(--borderRadius) !important;
}

/************************************
************ Layout ***********
*************************************/
.loadingContainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 2fr)
  ); /* Auto-fill columns, min 200px, max 1fr */
  gap: 10px; /* Space between grid items */
}



.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.middle {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.around {
  display: flex;
  justify-content: space-around;
}

.stretch {
  align-items: stretch;
}

.end {
  display: flex;
  justify-content: end;
}

.start {
  display: flex;
  justify-content: start;
}

.textLeft {
  text-align: start !important;
}

.textRight {
  text-align: end !important;
}
.textCenter {
  text-align: center !important;
}

.wrap {
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  top: 0;
}

.bold {
  font-weight: 600;
}

@media (max-width: 1200px) {
  p {
    font-size: 14pt;
  }
  h2 {
    font-size: 40pt;
  }
  h3 {
    font-size: 14pt;
  }
  h4 {
    font-size: 25pt;
  }
  .centerContainer .shrinkRow {
    flex-direction: column;
    align-items: space-between;

    width: 30%;
  }
  .shrinkCol {
    display: flex;
    flex-direction: column;
  }
  .shrinkRow {
    flex-direction: row !important;
  }
  .shrinkWrap {
    flex-wrap: wrap;
  }
  .loadingContainer {
    height: 80vh;
    width: 100vw;
  }
  .dynamicSize {
    min-width: 90%;
  }
  .centerContainer .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .centerContainer .dynamicRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hiddenOnShrink {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
  .navBar {
    position: fixed;
    transition: 0.2s;
  }
  .fixedRow {
    justify-content: start;
    flex-direction: row;
  }
  .gallery-image {
    height: 200px;
  }
  .thirty,
  .fifty,
  .sixty,
  .seventyFive,
  .ten,
  .w10,
  .w25,
  .w33,
  .w50,
  .w75,
  .w100 {
    width: 100%;
  }
  .flexShrink {
    width: unset !important;
  }
}
